.heading{

margin-top:7px;
color:white;
padding-top:3px;
font-family: 'Nosifer', cursive;
font-size:20px;
letter-spacing: .5px;

}
.web-logo{
	width:47px;
	padding-right:5px;
  margin-bottom:11px;
}
.navbar-edit{
	background-color:#000750;
	
}
.search-fix{
	width:470px;
	margin-left:0px;
	height:35px;
	
}
.menu{
	color:white!important;
	font-size:20px;
}
.menu:hover{
	color:#ddd;
 }
 .search-button{
  height:35px;
  padding-right:13px;
  padding-left:13px;
 }
 .button{
  padding-right:13px;
  padding-left:13px;
 }
 .another-nav{
 	background-color:#F0F2F4;
 	/*padding-top:20px;*/
 }
 .another-nav .nav-link{
 	margin-right:60px;
 	font-size:20px;
 }
 .another-nav .navbar-nav{
 	margin-right:270px;
 }
 .form .button{
 	height:35px;
 }
 
 .navbar-edit i{
 	font-size:18px;
 }
 .width{
  width:100%;
 }
 
 .lead {
    font-size: 15px !important;
    
}
.small{
	padding-left:10px;
	text-decoration:line-through;
}
.card-edit{
	background-color:#F0F2F4;
}
.footer{
	background-color:#F0F2F4
}
.footer-card{
	padding-top:35px;
}
.download-button{
	margin-top: 30px;
    margin-left: 10px;
}
.line{
	border:solid .5px;
	margin-right:90px;
	margin-left:90px;
}
.paralax{
	 background-image: url("images/check.jpg");
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}
.logo{
	width:50px;
	float:left;
	margin-top:50px;
	margin-left:0px;
	color:white;
}

.employee{
	color:white;
	font-size:78px !important;
	padding-left:25px;
	padding-bottom:20px;
	padding-top:20px;
}
.text{
	color:white;
}
.p-1000{
color:white;
padding-left:16px;
}
.e-100{
color:white;
padding-left:35px;
}
.c-50{
color:white;
padding-left:39px;
}
.i-250{
color:white;
padding-left:35px;
}
.industry{
	color:white;
	font-size:78px !important;
	padding-left:59px;
	padding-bottom:20px;
	padding-top:20px;
}
.image{
	background-image: url("images/myntra.jpg");
	
  	background-position:center;
  	background-repeat:no-repeat;
  	height:400px;
    width:100%;
}


.top-button{
	display: block;
  width: 100%;
  border: none;
  background-color: #6c757d;
  color: white;
  
  padding-top:5px;
  padding-bottom:5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.modal-header, .modal-login, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  .modal-head{
  	padding:35px 50px;
  }
  .modal-user{
  	font-weight:bold;
  }
  .modal-pass{
  	font-weight:bold;
  }
  .modal-login{
  	margin-left:160px;
  }
  .modal-cancel{
  	margin-right:264px;
  }
  .modal-lock{
  	padding-right:5px;
  	font-size:40px;
  }
  .trending{
  	background-image: url("images/trending.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }

 .hover-btn{ 
 	color: #fff;
    font-weight: 700;
    background-color: transparent;
    background-image: none;
    border-radius: 50px;
    border: 2px solid #ffff;
    margin-top:200px;
    width:144px;
    font-size:20px;

}
 .hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}



.card-button{
  margin-top:-38px;
  margin-right:-12px;
}

.mens-heading{
  font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    margin-left: 20px;
    text-decoration: underline;
      /*margin-top:6px;*/
}
.product-heading{
  font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    margin-left: 20px;
    text-decoration: underline;
      /*margin-top:6px;*/
}
.women-heading{
 font-family: 'Berkshire Swash', cursive;
    font-size: 36px;
    margin-left: 20px;
    text-decoration: underline; 
}

.trending-products{
  font-family: 'Berkshire Swash', cursive;
  color:white;
  padding-top:15px;
  font-size:45px;
    text-decoration: underline;
      padding-bottom:10px;
      margin-left:-10px;
}
.shop-now{
    color:white;
  padding-top:15px;
      letter-spacing: 2px;
      margin-left:25px;
    padding-bottom:10px; 
}
.a{

}
.a:hover{
  text-decoration: none;
}
.shop-now:hover{
  color:#F0F2F4;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  fill: rgb(105, 103, 103);  
  }
  .newarrival{
    background-image: url("images/new.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }
  @media screen and (max-width: 993px) {
   .navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 80%;
    margin: 0px;
    padding: 14px;
  }
@media screen and (max-width: 993px) {
   .search-button {
    float: right;
  
    
    width: 20%;
    
  }
  @media screen and (max-width: 993px) {
   .another-nav {
    background-color: #000750;
    
  }
  @media screen and (max-width: 993px) {
   .another-nav .nav-link {
    color: white;
    
  }
  
  /*@media screen and (max-width: 600px) {
   .heading input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 60%;
    margin: 0px;
    padding: 14px;
  }*/
  
  